{% extends 'index.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Фильм</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/detail.css'%}">
{% endblock %}

{% block content %}
    <div class="fill" >
    <h2>О фильме</h2>
    <img src="{% static  modelkino.poster%}" alt="" width="300">
    <h3>{{ modelkino.name }}</h3>
    <h3>Жанр: {{ modelkino.genre }}</h3>
    <h3>Режиссер: {{ modelkino.director }}</h3>
    <h3>Страна: {{ modelkino.country }}</h3>
    <h3>Год: {{ modelkino.year }}</h3>
    <h3>Актёры: </h3>
    <ul>
        {% for one in modelkino.actor.all %}
        <li>{{ one.name }}</li>
        {% endfor %}
    </ul>
    <h3>Рейтинг: {{ modelkino.rating }}</h3>
    <h3>Подробнее: {{ modelkino.info }}</h3>
    <h3>Подписка: {{ modelkino.podpiska }} </h3>
    {% if user.is_authenticated %}
    <h4>подписка пользователя {{ user.modelprofile.podpiska }}</h4>
    {% endif %}
{#    <h4>{{ modelkino.podpiska.id }}</h4>#}
{#    <h4>{{ user.modelprofile.podpiska.id }}</h4>#}
{#        {% for one in modelkino.podpiska.all %}#}
{#            <li>{{ one.name }}</li>#}
{#        {% endfor %}#}
    {% if user.is_authenticated %}
        {% if user.modelprofile.podpiska.id >= modelkino.podpiska.id %}
        <h3>Трейлер</h3>
        <iframe width="560" height="315" src="{{ modelkino.file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% else %}
            <h3>Купите подписку
            <a href="{% url 'kabinet' %}">
                <button>ссылка</button>
            </a></h3>
        {% endif %}
    {% else %}
        <h3>Авторзуйтесь для просмотра фильма
            <a href="{% url 'login' %}">
                <button>ссылка</button>
            </a> </h3>
    
    {% endif %}
    {% if user.is_authenticated %}
    <form action="{% url 'otziv' modelkino.id %}" method="post">
        {% csrf_token %}
        {{ modelkino.getForm }}
        <input type="submit" value="Отправить">
    </form>
    {% endif %}
        
    {% for one in modelkino.getOtziv %}    
        <div>
        <h4>{{ one.user }}</h4>
        <p>{{ one.text }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}

