{% extends 'index.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}

{% block content %}
    <div class="content">
    <h2>Каталог фильмов</h2>
      
        <ul>
       
        {% for one in modelkino_list %}
            <li>
                <a href = "{{ one.getUrl }}">{{ one.name }}</a>
                <p>{{ one.director }}</p>
            </li>
        {% endfor %}
        </ul>
    </div> 
{% endblock %}